# Entorno virtual
.venv/
venv/

# Variables de entorno
.env

# Python cache
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# FAISS / embeddings
*.faiss
*.pkl

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/
